<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocDbCli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DocDbCli.Properties.Settings>
            <setting name="EndpointUri" serializeAs="String">
                <value>https://yourendpoint.documents.azure.com:443/</value>
            </setting>
            <setting name="AccessKey" serializeAs="String">
                <value>yourkey</value>
            </setting>
        </DocDbCli.Properties.Settings>
    </userSettings>
</configuration>